build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/DetectorStilbene.sln
build/DetectorStilbene.vcxproj
build/DetectorStilbene.vcxproj.filters
build/Main.vcxproj
build/Main.vcxproj.filters
build/Project.sln
build/run.mac
build/vis.mac
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6f78e22df965205ea37a.json
build/.cmake/api/v1/reply/cmakeFiles-v1-809db34aec4d9a4a5e50.json
build/.cmake/api/v1/reply/codemodel-v2-a8fb408b9fc09156573b.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-06-06T10-37-27-0025.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-ba9e9b9fae1661f0fa35.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-ba9e9b9fae1661f0fa35.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-ba9e9b9fae1661f0fa35.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-ba9e9b9fae1661f0fa35.json
build/.cmake/api/v1/reply/target-DetectorStilbene-Debug-d15bc75a15cf02c60bab.json
build/.cmake/api/v1/reply/target-DetectorStilbene-MinSizeRel-d15bc75a15cf02c60bab.json
build/.cmake/api/v1/reply/target-DetectorStilbene-Release-d15bc75a15cf02c60bab.json
build/.cmake/api/v1/reply/target-DetectorStilbene-RelWithDebInfo-d15bc75a15cf02c60bab.json
build/.cmake/api/v1/reply/target-Main-Debug-419530d9f2bae8ed59ea.json
build/.cmake/api/v1/reply/target-Main-MinSizeRel-999f756593e3bdeb8053.json
build/.cmake/api/v1/reply/target-Main-Release-8eb86305855ecfbb61e4.json
build/.cmake/api/v1/reply/target-Main-RelWithDebInfo-2bb516b7a8cb8859f5f0.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-0589603f9e1ce033a5b1.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-0589603f9e1ce033a5b1.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-0589603f9e1ce033a5b1.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-0589603f9e1ce033a5b1.json
build/.cmake/api/v1/reply/toolchains-v1-36da857ff4b960b955cb.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/VCTargetsPath.txt
build/CMakeFiles/3.27.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/471b3f2219f999aab07823b8e8fcaecf/DetectorStilbene.rule
build/CMakeFiles/471b3f2219f999aab07823b8e8fcaecf/generate.stamp.rule
build/Main.dir/Release/ActionInitialization.obj
build/Main.dir/Release/Construction.obj
build/Main.dir/Release/CreateLogicalVolume.obj
build/Main.dir/Release/Energy.obj
build/Main.dir/Release/EnergyDistribution.obj
build/Main.dir/Release/EventAction.obj
build/Main.dir/Release/generator.obj
build/Main.dir/Release/LightOutput.obj
build/Main.dir/Release/Main.exe.recipe
build/Main.dir/Release/Main.obj
build/Main.dir/Release/proton.obj
build/Main.dir/Release/Run.obj
build/Main.dir/Release/RunAction.obj
build/Main.dir/Release/SteppingAction.obj
build/Main.dir/Release/Main.tlog/CL.command.1.tlog
build/Main.dir/Release/Main.tlog/Cl.items.tlog
build/Main.dir/Release/Main.tlog/CL.read.1.tlog
build/Main.dir/Release/Main.tlog/CL.write.1.tlog
build/Main.dir/Release/Main.tlog/CustomBuild.command.1.tlog
build/Main.dir/Release/Main.tlog/CustomBuild.read.1.tlog
build/Main.dir/Release/Main.tlog/CustomBuild.write.1.tlog
build/Main.dir/Release/Main.tlog/link.command.1.tlog
build/Main.dir/Release/Main.tlog/link.read.1.tlog
build/Main.dir/Release/Main.tlog/link.write.1.tlog
build/Main.dir/Release/Main.tlog/Main.lastbuildstate
build/Release/Main.exe
build/Release/run.mac
build/Release/vis.mac
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
pictures/Моделирование 6.8 МэВ.png
pictures/Моделирование DD-1, 0.1 с, T$_{ion}$ = 21.65 keV.png
pictures/Моделирование DD-2, 0.1 с, T$_{ion}$ = 13.5 keV.png
pictures/Моделирование DT-1, 0.01 с, T$_{ion}$ = 20.68 keV.png
pictures/Моделирование DT-2, 0.01 с, T$_{ion}$ = 20.57 keV.png
pictures/Моделирование, 6.8 МэВ.png
pictures/DD_1_0.1.png
pictures/DD_1_0.1(1).png
pictures/DD_1_0.1(3).png
pictures/DD_2_0.1.png
pictures/DD_2_0.1(2).png
pictures/DD_2_0.1(3).png
pictures/DD_diff.png
pictures/DT_1_0.01.png
pictures/DT_2_0.01.png
pictures/DT_diff.png
pictures/Light_depend_2.45.png
pictures/Light_depend_14.1.png
pictures/Model_6.8.png
pictures/Modeling DD-1, 0.1 s.png
pictures/Modeling DD-2, 0.1 s.png
pictures/Modeling DT-1, 0.001 s.png
pictures/Modeling DT-2, 0.01 s.png
pictures_disc/#1_scen.png
